<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="all.css">
    <title>Document</title>
</head>

<body>
    <div id="app" @keyup.esc="clear">
        <div class="img-bmi">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Bmi_wordmark.svg/1200px-Bmi_wordmark.svg.png" />
        </div>
        <div class="wrap">
            <div class="content">
                <div class="form" @keyup.enter="comp">
                    <div class="height">
                        <p>身高 cm</p>
                        <input type="text" class="heightValue" placeholder="請輸入身高" v-model="high" />
                    </div>
                    <div class="weight">
                        <p>體重 kg</p>
                        <input type="text" class="weightValue" placeholder="請輸入體重" v-model="weight" />
                    </div>
                </div>
                <div class="result" v-if="show" @click="comp">
                    <p>看結果</p>
                </div>
                <div class="green" v-if="!show" :style="{color:color,borderColor:color}">
                    <p>{{bmivalue}}</p>
                    <span>BMI</span>
                </div>
                <div class="bt" v-if="!show">
                    <h1 :style="{color:color}">{{statu}}</h1>
                    <button @click="clear">清除重測</button>
                </div>
            </div>
        </div>

        <div class="record">
            <div class="title">
                <h1>BMI紀錄</h1>
            </div>
            <div class="content" v-for="(item,key) in alldatavalue" :key="key">
                <div class="smallBox" :style="{backgroundColor:item.color}"></div>
                <h1>{{item.statu}}</h1>
                <div class="contentValue">
                    <span>
            BMI
            <samp class="bmi">{{item.bmivalue}}</samp>
          </span>
                    <span>
            height
            <samp class="height">{{item.high}}cm</samp>
          </span>
                    <span>
            weight
            <samp class="weight">{{item.weight}}kg</samp>
          </span>
                </div>
                <span class="date">
          {{item.date}}
          <a href="#" @click.prevent="remove(key)" >移除</a>
        </span>
            </div>
            <!-- <div class="content">
          <div class="smallBox"></div>
          <h1>理想</h1>
          <div class="contentValue">
            <span>
              BMI
              <samp class="bmi">20.90</samp>
            </span>
            <span>
              height
              <samp class="height">180cm</samp>
            </span>
            <span>
              weight
              <samp class="weight">13kg</samp>
            </span>
          </div>
          <span class="date">
            06-19-2017
            <a href="#">移除</a>
          </span>
      </div>-->
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            show: true,
            high: "",
            weight: "",
            bmivalue: "",
            statu: "",
            color: "",
            date: "",
            alldatavalue: []
        },
        methods: {
            comp() {
                if (this.high === "" && this.weight === "") {
                    alert("輸入錯誤");
                    return;
                }
                this.show = false;
                let value = 0;
                value = this.weight / ((this.high * this.high) / 10000);
                // console.log(value);
                this.bmivalue = value.toFixed(2);
                this.status();

                let date = new Date();
                this.date = date.toLocaleDateString();

                this.alldatavalue.push({
                    high: this.high,
                    weight: this.weight,
                    bmivalue: this.bmivalue,
                    statu: this.statu,
                    color: this.color,
                    date: this.date
                });

                this.updated();
            },
            clear() {
                this.show = true;
                this.high = "";
                this.weight = "";
            },
            status() {
                if (this.bmivalue < 18.5) {
                    this.statu = "過輕";
                    this.color = "#31BAF9";
                } else if (this.bmivalue >= 18.5 && this.bmivalue < 24) {
                    this.statu = "理想";
                    this.color = "#86D73E";
                } else if (24 <= this.bmivalue && this.bmivalue < 27) {
                    this.statu = "過重";
                    this.color = "#FF982D";
                } else if (27 <= this.bmivalue && this.bmivalue < 30) {
                    this.statu = "輕度肥胖";
                    this.color = "#FF6C02";
                } else if (30 <= this.bmivalue && this.bmivalue < 35) {
                    this.statu = "中度肥胖";
                    this.color = "#FF6C02";
                } else if (this.bmivalue >= 35) {
                    this.statu = "重度肥胖";
                    this.color = "#FF1200";
                }
            },
            remove(key) {
                this.alldatavalue.splice(key, 1);
                this.updated();
            },
            updated() {
                localStorage.setItem("key", JSON.stringify(this.alldatavalue));
            }
        },
        created() {
            this.alldatavalue = JSON.parse(localStorage.getItem('key')) || [];
        },
    })
</script>

</html>